{block content}
<div class="container">



<h1 n:block="title">{$post->title}</h1>
<div class="date"><p class="text-secondary">{$post->created_at|date:'F j, Y'}</p></div>
<div class="post">{$post->content}</div>

<br>
<br>
<p><a n:href="Homepage:default">← zpět na výpis příspěvků</a></p>
</div>